[submodule "grid_map"]
	path = grid_map
	url = https://github.com/ANYbotics/grid_map.git
	branch = ros2
[submodule "octomap_server2"]
	path = octomap_server2
	url = https://github.com/iKrishneel/octomap_server2.git
	branch = master
[submodule "perception_pcl"]
	path = perception_pcl
	url = https://github.com/ros-perception/perception_pcl.git
	branch = ros2
[submodule "motion_planning/VIMP"]
	path = motion_planning/VIMP
	url = https://github.com/hzyu17/VIMP.git
	branch = master
